<app-header-admin pageTitle="ElishERP SMS" imageUrl="dashboard" helpType="homepage"></app-header-admin>
<mat-tab-group class="tab-group">
    <mat-tab label="Manage">
        <mat-card>
            <mat-card-title class="middle-headline">Student Management</mat-card-title>
            <mat-card-subtitle>Student Management
                <button mat-raised-button>College/School/Student App</button>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">Learning Management</mat-card-title>
            <mat-card-subtitle>Education/Learning Management
                <button mat-raised-button>Learning/Exam/Testing App</button>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">HCM Cloud</mat-card-title>
            <mat-card-subtitle>Employee Payroll, Leave & Attendance
                <a routerLink="/employee" target="_blank" color="primary" mat-raised-button>HCM Payroll App</a>
                <!-- <button mat-raised-button color="primary" routerLink="/employee">HCM App</button> -->
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">eStore App</mat-card-title>
            <mat-card-subtitle>Online Store Management
                <a href="https://elish-estore.firebaseapp.com" target="_blank" color="primary" mat-raised-button>eCommerce App</a>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">eHealth Lab Cloud</mat-card-title>
            <mat-card-subtitle>Health Test LAB Management
                <a href="https://atrackin.firebaseapp.com/" target="_blank" color="primary" mat-raised-button>eLAB App</a>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">CRM Cloud</mat-card-title>
            <mat-card-subtitle>Customer, Sales & Marketing
                <a href="https://atrackin.firebaseapp.com/" target="_blank" color="primary" mat-raised-button>CRM App</a>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">Tracker Cloud</mat-card-title>
            <mat-card-subtitle>GPS/Mobile Asset/Employee
                <a href="https://alivetracking.firebaseapp.com" target="_blank" color="primary" mat-raised-button>GPS Tracking App</a>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">Attendance System</mat-card-title>
            <mat-card-subtitle>GPS/Picture Employee
                <a href="https://alivetracking.firebaseapp.com" target="_blank" color="primary" mat-raised-button>Attendance App</a>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">Visitor Management</mat-card-title>
            <mat-card-subtitle>GPS/Picture Visitor Management
                <a href="https://alivetracking.firebaseapp.com" target="_blank" color="primary"
                    mat-raised-button>Visitor Record App</a>
            </mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-title class="middle-headline">Supply Chain Management</mat-card-title>
            <mat-card-subtitle>Inventory/Sales Management
                <button mat-raised-button>Live Inventory App</button>
            </mat-card-subtitle>

        </mat-card>
    </mat-tab>
    <mat-tab label="AboutUs">
        <mat-card>
            <mat-card-content>
                <p class="middle-headline">A Complete Free (forever)* Solution for
                    <strong>School, Online Education, HCM, CRM, Tracking, Visitor and many more applications.</strong>
                </p>
                <p class="bodytext">Elish ERP is a complete Mobile/desktop App to manage Students, Employee, Payroll, Customer, Leads, Sales/Orders and
                    Help Desk/Service Calls. Elish ERP also contain moduled for eHealth LAB management and Education/Student
                    and Learning Management modules.</p>
                <p class="label-hint">* free community version </p>
                <p class="middle-headline">"Why Elish ERP?"</p>
                <p class="label-error">Live Assets & Employee Location Tracking
                    <mat-icon svgIcon="track_changes"></mat-icon>
                    <br>GPS/Picture Employee & Visitor Attendance
                    <mat-icon svgIcon="event"></mat-icon>
                    <br>Payroll
                    <mat-icon svgIcon="code"></mat-icon>
                    <br>Complete CRM
                    <mat-icon svgIcon="star"></mat-icon>
                    <br>Live Inventory Management
                    <mat-icon svgIcon="menu"></mat-icon>
                </p>
                <p class="middle-headline">No Language Barrier</p>
                <p class="label-error">This app is available in 10
                    <mat-icon svgIcon="language"></mat-icon>Languages. Please let us know your preferred language.</p>
                <p class="middle-headline">
                    <mat-icon svgIcon="star"></mat-icon>A complete Onelink ERP APP for Customer service, Market and Sales Professionals/Consultants.</p>
                <p class="bodytext">A complete ERP App to manage customer details, documents, Billing, finance transactions management system.</p>
                <p class="middle-headline">
                    <mat-icon svgIcon="email"></mat-icon>One click live communications (FB, WhatsAPP, SMS, email etc) tools.</p>
                <p class="bodytext">A complete ERP App connecting Customers, Service Providers through modern advance communications channels.</p>
                <p class="middle-headline">
                    <mat-icon svgIcon="code"></mat-icon>Widely Categorize knowledge base.</p>
                <p class="bodytext">A complete knowledge base which covers lots of field and topic and provide a cursory reading to whom who
                    are looking for.</p>
                <p class="middle-headline">
                    <mat-icon svgIcon="search"></mat-icon>Search Customer Service poviders, products Anywhere</p>
                <p class="bodytext">We provide a wide platform to search Service povider anywhere in india as per category and with location
                    and provide a medium to communicate with them regarding any problem.</p>
                <p class="middle-headline">
                    <mat-icon svgIcon="book"></mat-icon>Largest CRM Services povider network</p>
                <p class="bodytext">Ask freely with Personal Service advisers through ElishConsulting.com either online or offline.</p>
            </mat-card-content>
            <mat-card-content>
                <div class="col-md-7">
                    <p class="blueheading" style="text-align: justify">
                        <mat-icon svgIcon="star"></mat-icon>
                        Widely Categorize knowledge base.
                    </p>
                    <p style="text-align: justify">A complete knowledge base which covers lots of field and topic and provide a cursory reading to whom
                        who are looking for something new.
                    </p>
                    <p class="blueheading" style="text-align: justify">
                        <mat-icon svgIcon="search"></mat-icon>
                        Search Providers Anywhere
                    </p>
                    <p style="text-align: justify">We provide a wide platform to search CRM Service Providers anywhere in india as per category and with
                        location and provide a medium to communicate with them regarding any problem.
                    </p>
                    <p class="blueheading" style="text-align: justify">
                        <mat-icon svgIcon="book"></mat-icon>
                        Largest CRM network
                    </p>
                    <p style="text-align: justify">Ask freely with CRM advisers through ELISH Consulting either online or offline.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="FAQ">
        <mat-card>
            <mat-card-title class="blueheading">How does this work?</mat-card-title>
            <mat-card-content>
                <mat-horizontal-stepper #stepper="matHorizontalStepper">
                    <mat-step>
                        <ng-template matStepLabel></ng-template>
                        <label class="middle-headline">Step 1: </label>Login with Google, Facebook or your email ID. Or simply create an account.
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel></ng-template>
                        <label class="middle-headline">Step 2: Pro Version Only: </label> create a new a unique Company Name
                        <mat-icon svgIcon="business"></mat-icon> and a secret key.
                        <mat-icon svgIcon="new"></mat-icon> Pro
                        <mat-icon svgIcon="vpn"></mat-icon>
                    </mat-step>
                    <mat-step>
                        <p class="bodytext">
                            <label class="middle-headline">Step 3: </label>share this orgname and key with your employees.
                        </p>
                        <span class="label-error">
                            * share your
                            < orgname and Secret key> with any person, and person will have access to all your data.
                                <br>
                                <br> ** Only you can change your secret key (simple browse to settings
                                <mat-icon svgIcon="account_circle"></mat-icon> page and write same orgname with a new key).
                                <br>
                                <br> *** Changing secret key will remove access to all your existing users who are using your
                                orgname and secret key.
                                <br>
                                <br> **** If you change orgname, you will create a new org and will lose all data from last organization.
                        </span>
                    </mat-step>
                    <mat-step>
                        <p class="bodytext">
                            <label class="middle-headline">Step 4: </label>Happy Tracking !!!
                            <mat-icon svgIcon="place"></mat-icon>
                            <br/>
                            <img src="assets/img/tracker_2.png" width="424" height="126">
                        </p>
                    </mat-step>
                </mat-horizontal-stepper>

                <!--
                <p class="bodytext"><label class="middle-headline"> {{ 'btnaboutuscrmfaq_2' | translate }} </label>
                {{ 'btnaboutuscrmfaq_3' | translate }}<mat-icon svgIcon="business"></mat-icon>
                {{ 'btnaboutuscrmfaq_4' | translate }}<br>
                {{ 'btnaboutuscrmfaq_5' | translate }}
                </p>
                <p class="bodytext"><label class="middle-headline"> {{ 'btnaboutuscrmfaq_6' | translate }} </label>
                {{ 'btnaboutuscrmfaq_7' | translate }}<mat-icon svgIcon="account_circle"></mat-icon> {{ 'btnaboutuscrmfaq_8' | translate }}
                <br/>
                <p class="bodytext"><label class="middle-headline"> {{ 'btnaboutuscrmfaq_9' | translate }} </label>{{ 'btnaboutuscrmfaq_10' | translate }}<mat-icon>place</mat-icon><br/>
                <img src="assets/tracker_2.png" width="624" height="126">
                <br/>
                -->
            </mat-card-content>
            <mat-card-title class="blueheading">What is difference between Admin and Regular User account ?</mat-card-title>
            <mat-card-content>
                <p class="bodytext">Admin is the person, who can see all reports/activities for all the employees in same "COMPANY"
                    <br/>User is the person, who can see only his/her own reports/activities.</p>
            </mat-card-content>
            <mat-card-title class="blueheading">Is it free ?</mat-card-title>
            <mat-card-content>
                <p class="bodytext">Yes, ElishERP is absolutely free. However, We charge only "Pro" users.</p>
                <p class="label-error">Please see, Free version includes only restricted "GPS Map viewing" usage (50 GPS Map clicks per day).</p>
            </mat-card-content>
            <mat-card-title class="blueheading">what is ElishPro and how is this different that regular version ?</mat-card-title>
            <mat-card-content>
                <p class="bodytext">ElishPro is small business/enterprise version. It has unrestricted usage and enhanced Employee/Tracking capabilities.
                    ElishPro also allows businesses to design their own database and live features, it has more advanced
                    embedded one-click communication tools.
                </p>
            </mat-card-content>
            <mat-card-title class="blueheading">How much ElishPro Costs ?</mat-card-title>
            <mat-card-content>
                <p class="bodytext">Not much, ElishPro is made for small business. Most of the users don't pay more than $4.99 per month. Please
                    send us an email info@elishconsutling.com and we will be happy to assist you with most affordable pricing.
                </p>
            </mat-card-content>
            <mat-card-title class="blueheading">What if I need my own eCRM version and independent database ?</mat-card-title>
            <mat-card-content>
                <p class="bodytext">Ofcourse, we understand your concern about data security and confidentiality. We can easliy customize and
                    deploy our code to your dedicated servers (offline, online or hybrid). let's start with an email info@elishconsulting.com
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Pro">
        <mat-card>
            <mat-card-content>
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon svgIcon="business"></mat-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                                Community vs. Pro
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        Send an email to info@elishconsulting.com for Pro Account (enterprise version).
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Unlimited Transactions
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="label-go" svgIcon="radio_on"></mat-icon>
                                <mat-icon class="label-go" svgIcon="radio_on"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        # of transactions per ERP.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Limited App Customization
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="label-error" svgIcon="radio_off"></mat-icon>
                                <mat-icon class="label-go" svgIcon="radio_on"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        Pro version is customized as per user(org) requirements and hosted into their personal cloud.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Unlimited ImageUpload
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="label-error" svgIcon="radio_off"></mat-icon>
                                <mat-icon class="label-go" svgIcon="radio_on"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        # of Image Upload per ERP.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Unlimited On/Offline Sync
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="label-error" svgIcon="radio_off"></mat-icon>
                                <mat-icon class="label-go" svgIcon="radio_on"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        Offline ERP version installation at user's premises or user's personal cloud installation and support.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Unlimited Users (org)
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="label-error" svgIcon="radio_off"></mat-icon>
                                <mat-icon class="label-go" svgIcon="radio_on"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        Community version will have only one admin and multiple user (all at same level). ie, all users will see same data for an
                        organization.
                        <br> Pro verison include facilities for Admin to create multiple users and roles per module depending
                        on job responsibilities.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Limited GPS Tracking
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="label-error" svgIcon="radio_off"></mat-icon>
                                <mat-icon class="label-go" svgIcon="radio_on"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        Be default, community version trace location every 20 mins and keep only 3 days of history per asset/employee.
                        <br> Pro version has no limit and may keep up to 3 months of historical data.
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <!--  visitor About us page
    <mat-tab label="{{ 'btnhome' | translate }}">
        <mat-card>
            <mat-card-title></mat-card-title>
            <mat-card-content>
                <p class="middle-headline"> A Complete Solution for <strong>Visitor Management applications.</strong></p>
                <p class="bodytext"> Elish Visitor Management is a complete ERP App to manage All Visitors information and Help Desk/Service Calls.</p>
                <p class="middle-headline"> "Why Elish Visitor"</p>
                <p class="bodytext"> Live FingerPrinting and Picture Storage</p>
                <p class="bodytext"> One stop solution for all visitor management book keeping needs.</p>
                <p class="middle-headline"><mat-icon svgIcon="star"></mat-icon> A complete Onelink ERP APP for Customer service, Visitor Information tracking.</p>
                <p class="middle-headline"><mat-icon svgIcon="email"></mat-icon> One click live communications (FB, WhatsAPP, SMS, email etc) tools.</p>
                <p class="bodytext"> A complete ERP App connecting Visitors, clients and Service Providers through modern advance communications channels.</p>
                <p class="bodytext"> Ask freely with Personal Service advisers through ElishConsulting.com either online or offline.</p>
            </mat-card-content>
            <mat-card-content>
                <div class="col-md-7">
                    <p class="middle-headline" style="text-align: justify">
                    A Complete Solution for all <strong>Visitors Record</strong> needs.
                    </p>
                    <p class="lead" style="text-align: justify">
                        Elish Visitor ERP system, A complete solution for Managing Visitor records with lots of facilities which makes it a better portal.
                        It is designed in such a way that helps everyone and establish a communication medium between users.
                        A special feature of knowledge base makes it widely accessible over the world. 
                        <br/>
                    </p>
                    <p class="lead" style="text-align: justify">
                    The expert CRM service providers at Elish CRM provide a judicious mix of research and analysis to ensure the best quality CRM production, solutions and services to all the clients and users.
                        <br/>
                    </p>
                    <p class="blueheading" style="text-align: justify">
                         <mat-icon svgIcon="star"></mat-icon>
                         Widely Categorize knowledge base.
                    </p>
                    <p style="text-align: justify">
                        A complete knowledge base which covers lots of field and topic and provide a cursory reading to whom who are looking for something new.
                   </p>
                   <p class="blueheading" style="text-align: justify">
                         <mat-icon svgIcon="search"></mat-icon>
                        Search Providers Anywhere
                    </p>
                    <p style="text-align: justify">
                        We provide a wide platform to search CRM Service Providers anywhere in india as per category and with location and provide a medium to communicate with them regarding any problem.
                   </p>
                   <p class="blueheading" style="text-align: justify">
                         <mat-icon svgIcon="book"></mat-icon>
                         Largest CRM network
                    </p>
                    <p style="text-align: justify">
                        Ask freely with CRM advisers through ELish Consulting either online or offline.
                   </p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="{{ 'btnfaq' | translate }}">
        <mat-card>
            <mat-card-title class="blueheading">How does this work?</mat-card-title>
            <mat-card-content>
                <p class="bodytext"><label class="small-headline"> Visitee: </label>
                Visitee is the person in your organization, who visitors will come to visit.
                </p>
                <p class="bodytext"><label class="small-headline"> Visitor: </label>
                Visitor is the person outside your organization, who will come to visit a "visitee" in your organization.
                </p>
                <p class="bodytext"><label class="small-headline"> Step 1: </label>
                Please setup an Admin Account First. This Admin Account will manage all ERP Users.
                </p>
                <p class="bodytext"><label class="small-headline"> Step 2: </label>
                For any new "Visitee", Admin will need to register this "Visitee" first.<br/>
                If Visitee is not registered, Visitor will not able to see "Visitee"<br/>
                <p class="bodytext"><label class="small-headline"> Step 3: </label>
                If a "Visitee" is released or not part of your organization anymore, Admin will need to 
                "Inactivate" Visitee in software.<br/>
                "Inactivating"" a visitee does NOT mean that all records will be deleted,<br/>
                "Inactivating" a visitee only means, Vistors will NOT see "visitee" anymore.<br/>
                All Visitee and Vistors information is "always" stored in software and CAN NOT be deleted.
                <p class="bodytext"><br/>
                Please send an email to info@elishconsulting.com for any questions related to this software.</p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    -->
    <mat-tab label="Terms">
        <mat-card>
            <mat-card-content>
                <label class="bodylabel">Terms & Conditions</label>
                <br/>
                <p class="bodytext">
                    <label class="bodylabel">Terms of Use</label>
                    <br/>

                    <label class="bodylabel">Use and Acceptance</label>
                    <br/> This Web site (the "Site") including all Elish Consulting smart device apps, and any tools and/or services
                    offered and/or provided by Elish Consulting and/or its subsidiaries through this Site (collectively,
                    the "Services"), are offered to you conditioned upon your acceptance without modification of these Terms
                    of Use. By using this Site or any Services, you agree to these Terms of Use. Please read these Terms
                    of Use carefully. If you do not agree to these Terms of Use, you may not use this Site or any Services
                    offered or provided through this Site.
                    <br/>
                    <label class="bodylabel">Modification</label>
                    <br/> We may change these Terms of Use from time to time without notice to you. You should review these Terms
                    of Use each time you use this Site or a Service to make sure you agree to them. By using this Site or
                    Services or engaging in any of the activities described in these Terms of Use after changes have been
                    made to these Terms of Use, you are agreeing to accept and comply with those changes.
                    <br/>
                    <label class="bodylabel">
                        Authorized Use; Copyrights and Trademarks</label>
                    <br/> This Site and the Services may contain copyrighted works and trademarks and other proprietary material
                    owned by us or our content providers. You may use the information available from this Site for informational
                    purposes only. You may print copies of pages from this Site for your personal purposes, provided that
                    each copy includes any copyright, trademark or service mark notice or attribution as they appear, on
                    the pages copied. The availability of third party data from or through this Site is not to be used as
                    a substitute for a license or services agreement directly with the relevant content provider. Except
                    as stated above, you may not copy, reproduce, publish, post, transmit, display, store, sublicense, transfer
                    or distribute material or images from this Site without our express written permission or that of our
                    content providers, as applicable ("Permission"). You may not modify, alter, revise, paraphrase, omit,
                    or change any material or images on or from this Site without Permission. You may not create derivative
                    works, whether based in whole or in part upon the information on this Site or any portion thereof without
                    Permission. You may not modify, amend, reduce the size of or in any way obscure any warning, notice,
                    liability limitation, or other license provision in material or images on or from this Site. Nothing
                    contained on this Site and/or the Services should be construed as granting, by implication, estoppel
                    or otherwise, any license or right in and to our trademarks or copyrighted material. The information
                    contained in this Site is subject to change without notice. We reserve the right to prohibit access to
                    anyone whom we determine are violating these Terms of Use, restricting or inhibiting any other user from
                    using or enjoying the Site, or whose conduct we reasonably determine may constitute a criminal offense,
                    give rise to civil liability, or otherwise violate any applicable local, state, national, or international
                    law.
                    <br/>
                    <label class="bodylabel">
                        Limited Availability, Eligibility</label>
                    <br/> Not all Services mentioned on this Site may be available in all geographic areas. Your eligibility for
                    particular products or Services is subject to final determination by us and/or the applicable content
                    provider.
                    <br/>
                    <label class="bodylabel">Limitation of Liability</label>
                    <br/> BY ACCESSING THIS SITE OR RECEIVING ANY SERVICES, YOU AGREE TO WAIVE ALL CLAIMS AGAINST US AND ALL THIRD
                    PARTY CONTENT PROVIDERS REGARDING THIS SITE, THE INFORMATION PROVIDED ON THIS SITE AND ANY INFORMATION
                    RECEIVED BY YOU AS A RESULT OF USING THE SERVICES, AND ANY USE BY YOU OF SUCH INFORMATION. YOU AGREE
                    THAT UNDER NO CIRCUMSTANCES SHALL WE OR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING
                    THIS SITE OR ITS CONTENTS OR SERVICES BE LIABLE TO YOU FOR ANY DAMAGES, INCLUDING, BUT NOT LIMITED TO,
                    ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES OR DAMAGES FOR LOSS OF PROFITS, GOOD
                    WILL, BUSINESS INTERRUPTION, USE, DATA, EQUIPMENT OR OTHER INTANGIBLE LOSSES (EVEN IF WE HAVE BEEN ADVISED
                    OF THE POSSIBILITY OF SUCH DAMAGES) THAT RESULT FROM (1) THE USE OF OR INABILITY TO USE THIS SITE OR
                    ANY SERVICES (2) THE CONSEQUENCES OF ANY DECISION MADE OR ACTION OR NON-ACTION TAKEN BY YOU OR BY ANYONE
                    TO WHOM YOU COMMUNICATE SUCH INFORMATION, OR FOR ANY ERRORS BY YOU IN COMMUNICATING SUCH INFORMATION;
                    (3) THE COST OF SUBSTITUTE SERVICES; OR (4) ANY OTHER MATTER RELATING TO THE CONTENT, SERVICES, OR DISTRIBUTION
                    OF SERVICES THROUGH THIS SITE. WE SHALL NOT BE LIABLE FOR DAMAGE OR INJURY TO PERSONS OR PROPERTY ARISING
                    FROM ANY USE OF ANY PRODUCT, INFORMATION, PROCEDURE, OR SERVICE OBTAINED THROUGH THIS SITE. OUR ENTIRE
                    LIABILITY AND YOUR EXCLUSIVE REMEDY FOR ANY DISPUTE OR CLAIM RELATED TO THESE TERMS OF USE, THE SITE,
                    ANY SERVICES, OR THE PRIVACY POLICY IS YOUR CESSATION OF THE USE OF THIS SITE AND ANY AND ALL SERVICES.
                    BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
                    INCIDENTAL DAMAGES, IN SUCH JURISDICTIONS LIABILITY IS LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.
                    WE CANNOT AND WILL NOT ASSUME ANY LIABILITY FOR UNAUTHORIZED OR FRAUDULENT USE OF THIS SITE AND ANY SERVICES.

                    <br/>
                    <label class="bodylabel">Indemnification</label>
                    <br/> YOU AGREE TO INDEMNIFY AND HOLD US AND OUR THIRD PARTY CONTENT PROVIDERS WHICH PROVIDE CONTENT FOR THIS
                    SITE OR THE SERVICES (EITHER THROUGH LINKS OR OTHERWISE), HARMLESS FROM ANY LOSS, INCLUDING REASONABLE
                    ATTORNEYS' FEES, RELATED TO ANY CLAIM OR MADE BY ANY THIRD PARTY RELATING TO CONTENT YOU SUBMIT, POST
                    TO OR TRANSMIT THROUGH THIS SITE YOUR USE OF THE SITE OR THE SERVICES, YOUR CONNECTION TO THE SITE, YOUR
                    VIOLATION OF THESE TERMS OF USE, OR ANY HARM YOU CAUSE ANOTHER USER.

                    <br/>
                    <label class="bodylabel">Disclaimers</label>
                    <br/> SOME OF THE CONTENT ON THIS SITE OR THE SERVICES MAY BE PROVIDED BY THIRD PARTY CONTENT PROVIDERS AND
                    USERS. WE ARE A DISTRIBUTOR AND NOT A PUBLISHER OF SUCH CONTENT AND HAVE NO CONTROL OVER IT. ANY OPINIONS,
                    ADVICE, STATEMENTS, SERVICES, OFFERS OR OTHER INFORMATION GIVEN OR PROVIDED BY THIRD PARTIES (INCLUDING
                    MERCHANTS AND LICENSORS) ARE THOSE OF THE RESPECTIVE AUTHORS OF SUCH CONTENT AND NOT OURS. ALTHOUGH WE
                    USE REASONABLE EFFORTS TO PROVIDE ACCURATE AND UP-TO-DATE INFORMATION THROUGH THIS SITE, WE AND THE CONTENT
                    PROVIDERS MAKE NO WARRANTIES OR REPRESENTATIONS AS TO THE ACCURACY, RELIABILITY, OR COMPREHENSIVENESS
                    OF CONTENT ON THIS SITE AND ANY SERVICE. THE INFORMATION CONTAINED ON THIS SITE AND ANY SERVICE IS PROVIDED
                    ON AN "AS IS" "AS AVAILABLE" BASIS. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES
                    OF ANY KIND, WHETHER EXPRESS OR IMPLIED, WITH REGARD TO INFORMATION CONTAINED ON THIS SITE AND ANY SERVICE,
                    INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
                    WE AND THE CONTENT PROVIDERS CANNOT AND DO NOT GUARANTEE OR WARRANT THAT THE FILES AVAILABLE FOR DOWNLOADING
                    FROM THIS SITE AND ANY SERVICE WILL BE FREE FROM INFECTIONS OR VIRUSES, WORMS, TROJAN HORSES, OR OTHER
                    CODE WITH CONTAMINATING OR DESTRUCTIVE PROPERTIES. YOU HEREBY AGREE TO RELEASE AND HOLD US HARMLESS FROM
                    ANY AND ALL CLAIMS, LOSSES, EXPENSES OR DAMAGES RELATING TO ANY DISCLAIMED WARRANTY DESCRIBED IN THIS
                    PARAGRAPH. THE INFORMATION PROVIDED IN ANY SERVICE OR IN THIS SITE IS NOT INVESTMENT OR LEGAL ADVICE.
                    INFORMATION RECEIVED VIA THIS SITE OR THE SERVICES SHOULD NOT BE RELIED UPON FOR PERSONAL, LEGAL OR FINANCIAL
                    DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR SPECIFIC ADVICE TAILORED TO YOUR SITUATION.
                    THE INFORMATION CONTAINED IN THIS SITE, INCLUDING THE INVESTOR RELATIONS SECTION (INCLUDING, WITHOUT
                    LIMITATION, STOCK QUOTES, STOCK CHARTS, AND SEC FILINGS) AND ANY ADDITIONAL CONTENT IS PUBLISHED SOLELY
                    FOR INFORMATION PURPOSES AND IS NOT A SOLICITATION NOR AN OFFER TO BUY OR SELL ANY STOCK, MUTUAL FUND,
                    OR OTHER SECURITY, NOR SHOULD IT BE USED IN CONNECTION WITH ANY SALE, OFFER FOR SALE OR SOLICITATION
                    OF AN OFFER TO BUY SECURITIES OR ANY OTHER INSTRUMENT. SUCH INFORMATION DO NOT ATTEMPT OR CLAIM TO BE
                    A COMPLETE DESCRIPTION OF THE SECURITIES, MARKETS, OR DEVELOPMENTS REFERRED TO IN THE MATERIAL. ALL EXPRESSIONS
                    OF OPINION ARE SUBJECT TO CHANGE WITHOUT NOTICE. SUCH INFORMATION ARE OBTAINED FROM INTERNAL AND EXTERNAL
                    SOURCES WHICH WE CONSIDERS RELIABLE, BUT WE HAVE NOT INDEPENDENTLY VERIFIED SUCH INFORMATION AND WE DO
                    NOT GUARANTEE THAT IT IS ACCURATE OR COMPLETE. WE, OUR EMPLOYEES, AND OFFICERS AND DIRECTORS, MAY FROM
                    TIME TO TIME HAVE POSITIONS IN THE SECURITIES MENTIONED AND MAY SELL OR BUY SUCH SECURITIES. INVESTMENT
                    PRODUCTS ARE NOT BANK DEPOSITS OR INSURED BY THE FDIC OR OTHER ENTITY AND ARE SUBJECT TO INVESTMENT RISKS,
                    INCLUDING LOSS OF THE PRINCIPAL AMOUNT INVESTED. WE ARE NOT PROVIDING INVESTMENT ADVICE, ACTING AS A
                    FIDUCIARY OR ENDORSING ANY COMPANY, PRODUCTS, SERVICES OR SECURITIES BY PUBLISHING ANY INFORMATION CONTAINED
                    IN THIS SITE. SUCH INFORMATION IS NOT INTENDED FOR TRADING PURPOSES OR FOR ANY PURPOSE OTHER THAN YOUR
                    PERSONAL USE. IN PARTICULAR, STOCK QUOTES APPEARING IN THIS SITE MAY BE DELAYED BY AT LEAST 20 MINUTES.
                    WE MAKE NO REPRESENTATION REGARDING THE ACCURACY OR TIMELINESS OF ANY SUCH INFORMATION AND SHALL HAVE
                    NO LIABILITY FOR INVESTMENT OR OTHER DECISIONS BASED UPON THIS INFORMATION. ANY DATED INFORMATION IS
                    PUBLISHED AS OF ITS DATE ONLY, AND WE DO NOT UNDERTAKE ANY OBLIGATION OR RESPONSIBILITY TO UPDATE OR
                    AMEND ANY SUCH INFORMATION. WE SPECIFICALLY DISCLAIM ANY AND ALL LIABILITY OR LOSS ARISING OUT OF ANY
                    ACTION TAKEN IN RELIANCE ON THIS INFORMATION, INCLUDING MARKET VALUE LOSS ON THE SALE OR PURCHASE OF
                    SECURITIES OR OTHER INSTRUMENTS OR OBLIGATIONS. SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS ON HOW LONG
                    IMPLIED WARRANTIES LAST OR THE EXCLUSION OF CERTAIN IMPLIED WARRANTIES, SO THAT THESE DISCLAIMERS AND
                    LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH EVENT, SUCH DISCLAIMERS SHALL APPLY TO THE FULLEST EXTENT PERMITTED
                    BY LAW.

                    <br/>
                    <label class="bodylabel">Severability</label>
                    <br/> If a court determines that any Term of Use is illegal or unenforceable, then such term will be eliminated
                    and the remaining Terms of Use will remain in force and effect. Entire Agreement; Jurisdiction And Choice
                    Of Law And Forum These Terms of Use constitute your entire agreement with us regarding this Site and
                    any Services, and supersede all prior or contemporaneous communications and proposals, whether electronic,
                    oral or written between you and us with respect to the Site or the Services. This Site and/or the Services
                    may not comply with legal requirements of foreign countries, therefore the Site, its contents, and the
                    Services are intended only for access and use by United States residents and are presented solely as
                    a service to visitors and/or subscribers located in the United States of America and its territories.
                    These Terms of Use are governed by and construed in accordance with the laws of the State of Delaware,
                    without giving effect to any principles of conflicts of law. You expressly and irrevocably agree that
                    exclusive jurisdiction and venue for any claim or dispute with us, our employees, contractors, officers,
                    directors, and content providers or relating in any way to your use of this Site or the Services resides
                    in the state or federal courts in Delaware and you further irrevocably agree and expressly and irrevocably
                    consent to the exercise of personal jurisdiction in those courts over any action brought under these
                    Terms of Use. We and you hereby waive the right of trial by jury in any action arising out of or related
                    to the Site, Services or these Terms of Use.
                    <br/>
                    <label class="bodylabel">Submissions</label>
                    <br/> You agree to provide true, accurate, current and complete information about yourself when you elect
                    to provide personal information to us. You also agree to maintain and promptly update any such information
                    to keep it accurate. Other than information addressed under our Online Privacy Policy, any and all comments,
                    suggestions, ideas, graphics, or other information that you transmit or post to the Site becomes and
                    will remain our property and may be used by us anywhere, anytime and for any reason whatsoever. Except
                    as may be provided in the Online Privacy Policy, any information or materials submitted to us will be
                    treated as non-confidential and non-proprietary, and we will not have any obligation to use or evaluate
                    any information we receive from you. We will not have to pay you or anyone else for using any ideas or
                    other materials that you may transmit to or post on the Site.
                    <br/>
                    <label class="bodylabel">Links To Other Web Sites</label>
                    <br/> This Site provides links to other Web sites that we think might be of interest to our users ("Linked
                    Sites"). Please note that when you click on one of these links, you may be moving to another provider's
                    Web site. These Linked Sites and their providers are not controlled by us, and we are not responsible
                    for the contents or the proper operation of any Linked Site. The inclusion of any link does not imply
                    our endorsement. We encourage you to read the terms of use and privacy statements of these Linked Sites
                    as their policies may differ from ours.
                    <br/>
                    <label class="bodylabel">Protecting Your Information</label>
                    <br/> We utilize reasonable security technologies to protect sensitive information. However, the security
                    of this information depends in part on the security of the computer you use to communicate with us, the
                    security you use to protect User IDs and passwords, and the security provided by your internet access
                    services provider. We are not responsible for the security of your internet access services provider;
                    you should review the security and privacy policies of your internet access services provider carefully.
                    Information that you access via this Site may be stored on your computer during your session for your
                    convenience. If others have access to your computer or your User ID and password, they may be able to
                    access this information. In any area of the Site requiring a password, you should log off the Site when
                    you are done viewing information or whenever you leave your computer. We are not responsible for the
                    security or privacy of information communicated to or from such a computer. Finally, you should keep
                    any correspondence you receive relating to this Site or the Services (including, but not limited to,
                    your User ID, passwords, other registration information, emails, order information, or any other information)
                    confidential and in a safe place. Inspection, Correction, and Removal of Information We will use reasonable
                    efforts to allow you to review, correct or update the information that you have provided to us at any
                    time. Please note that because of back-up systems and records of deletions, it may not be possible for
                    us to locate and remove from our systems residual information that you have provided to us. We cannot
                    require third parties to change information that has been disclosed to them with your consent. To modify
                    this information, you will have to go directly to the relevant third party.

                    <br/>
                    <label class="bodylabel">Online Privacy Policy</label>
                    <br/> Elish Consulting appreciates your concerns about the privacy of personal information that you provide
                    to us through this Web site. Accordingly, we have posted this policy to explain how we will handle that
                    information. (Note: Our Online Financial Products and Services may have different online privacy policies.
                    To view the privacy policy for a specific Online Financial Product or Service please click on the Privacy
                    link on that site.)

                    <br/>
                    <label class="bodylabel">Privacy of Information Given by You</label>
                    <br/> If you do provide personal information about yourself, such as name, address or telephone numbers, we
                    will endeavor to maintain that information in accordance with our internal policies governing use and
                    disclosure of confidential information. We may disclose that information within our corporate enterprise.
                    We may also disclose that information to unaffiliated third parties in order to respond to your inquiries,
                    to provide services to you, to provide you with information concerning products and services that we
                    offer, or to prevent or investigate fraud, illegal activity or misuse of this Web site. We may also disclose
                    that information to unaffiliated third parties for other purposes if we have notified you in advance
                    and you have not objected, you have requested or authorized us to do so, or we are required to do so
                    by law.

                    <br/>
                    <label class="bodylabel">Use of Cookies</label>
                    <br/> Cookies are small pieces of information that are passed through a browser and stored on your hard drive
                    for later retrieval. The use of cookies is a common practice on the Internet. Many Web sites use cookies
                    to personalize customer experience and most browsers are automatically set up to accept cookies. You
                    may choose to reject cookies by changing designated settings on your Web browser. Elish Consulting uses
                    cookies to provide better service, track usage of its Web site and to address security hazards. We also
                    may use cookies for some administrative purposes, such as storing your preferences for certain kinds
                    of information or to remember a password so that you do not have to input it every time you visit our
                    site.

                    <br/>
                    <label class="bodylabel">Use of Action Tags</label>
                    <br/> When you utilize the Web site, we may receive certain non-personally identifiable information about
                    your use of the Web site. Such information, which is collected passively using various technologies including,
                    without limitation, action tags, cannot presently be used to specifically identify you. We use third
                    party advertising companies to serve ads on our behalf across the Internet. These companies employ cookie
                    and Web Beacon (also referred to as 1x1 pixel.gifs or action tags) technology to measure and improve
                    the effectiveness of ads for their clients. To do so, these companies may use anonymous information about
                    your visits to our Web site and other Web sites. This information may include: date/time of banner ad
                    shown, their cookie, and a portion of the IP address. These technologies do not collect personally identifiable
                    information ("PII"). In addition, the data collected is not linked with any PII, such as name, email
                    address, or phone number. The anonymous information can also be used for online preference marketing
                    purposes. We and our third party advertisers may use information about your visits to this and other
                    Web sites in order to provide ads about goods and services that may be of interest to you. If you would
                    like more information about this practice and to know your choices about not having this information
                    used by the third party, click here.

                    <br/>
                    <label class="bodylabel">Coverage of This Policy</label>
                    <br/> Specific privacy policies apply to non-public personal information concerning consumers of certain products
                    and services that we offer. We make those policies available to our customers in accordance with federal
                    law. NOTICE TO CALIFORNIA USERS REQUIRED BY STATE LAW: We retain information we receive through this
                    Web site, including information you give us to open an account or purchase a product or service from
                    us, information you give to us in inquiries and other communications, and records of any transactions
                    you perform. We share this information with affiliated and non-affiliated parties only as necessary to
                    process and service your transactions with us, or as required by law. Such parties may include those
                    who provide services to us in connection with your accounts or transactions, or who are involved in providing
                    you the services you request. In certain instances they might include a purchaser or potential purchaser
                    of an account. We also report information to credit bureaus in appropriate cases. And we share information
                    with government agencies and law enforcement as necessary. This notice is effective December 16, 2010.
                    Any changes to our policy will be reflected in this location.

                    <br/>
                    <label class="bodylabel">Protection of Social Security Numbers</label>
                    <br/> "We" refers to the family of companies owned by Elish Consulting. Like all financial services companies,
                    we collect a variety of information about individuals, including but not limited to our customers and
                    employees. In many cases that information includes individuals' Social Security numbers. We use records
                    of Social Security numbers for many purposes, especially to comply with federal and state laws such as
                    tax laws and anti-money-laundering laws. Our policy is (i) to comply with all laws restricting the use
                    and disclosure of Social Security numbers, (ii) to protect the confidentiality of Social Security numbers,
                    (iii) to prohibit the unlawful disclosure of Social Security numbers, and (iv) to limit access to Social
                    Security numbers to our employees, and in certain cases to nonaffiliated parties that provide services
                    to us, based on their responsibilities. To safeguard Social Security numbers, we maintain physical, electronic,
                    and procedural safeguards that are designed to comply with applicable legal standards. Our employees
                    are prohibited from disclosing Social Security numbers for unauthorized purposes. We may share Social
                    Security numbers among our affiliated companies or with nonaffiliated parties for administrative purposes,
                    such as to process transactions, verify identities, and service accounts. We disclose Social Security
                    numbers as required or permitted by law, such as to the Internal Revenue Service or to credit bureaus.
                    When necessary, we disclose Social Security numbers to regulatory agencies, law enforcement agencies,
                    courts, and parties to lawsuits. We may share Social Security numbers among our affiliated companies
                    for marketing purposes, but only in compliance with legal restrictions, including required opportunities
                    to opt out of such sharing. We do not, without consent of the individual involved, share Social Security
                    numbers with parties not affiliated with us to enable them to market their own products or services.

                    <br/>
                    <label class="bodylabel">Global USA PATRIOT Act Certification</label>
                    <br/> In the wake of the September 11 attacks, President Bush signed the USA PATRIOT Act into law on October
                    26, 2001. This landmark legislation calls for a major expansion of U.S. anti-money laundering compliance
                    as well as anti-terrorism compliance obligations for all U.S. financial institutions. Pursuant to the
                    USA PATRIOT Act and final rules issued by the U.S. Treasury Department, financial institutions operating
                    in the United States are required to obtain certain information from any "Foreign Bank" that maintains
                    a correspondent account with it in the U.S. Under the final rules, this information is collected through
                    a certification process. To comply with these obligations, each of The Elish Consulting foreign branches
                    and banking entities listed in the attachment hereto has completed the attached Global Certification
                    for use by any U.S. financial institution that requires a USA PATRIOT Act Certification from any such
                    The Elish Consulting foreign branch or entity. Please use this Certification instead of asking an individual
                    The Elish Consulting foreign branch or entity to complete a separate Certification:
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>