<app-header-admin pageTitle="Student" imageUrl="star" helpType="settingspage"></app-header-admin>
<mat-card [@fallIn]='state'>
  <mat-card-content>
    <div *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
      <!-- searchmode -->
      <form #searchFormData="ngForm" class="example-form">
        <mat-card-actions align="start">
          <button type="button" (click)="toggle('resMode');getData(searchFormData.value);" mat-raised-button [disabled]="(code.value == '' && descr.value == '')"
            color="primary">Search</button>
          <span class="med-spacer"></span>
          <span matTooltip="Add New">
            <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
          </span>
          <span class="small-spacer"></span>
          <span matTooltip="Show Recent Results">
            <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
          </span>
        </mat-card-actions>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Student ID" id="code" name="code" #code="ngModel" ngModel [disabled]="descr.value !== ''">
        </mat-form-field>
        <br>
        <mat-form-field class="example-form">
          <input matInput type="text" placeholder="Student First Name" id="descr" name="descr" #descr="ngModel" ngModel [disabled]="code.value !== ''">
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
<!-- addMode -->
<ng-template #showAddMode>
  <form #addDataForm="ngForm" (ngSubmit)="setData(addDataForm.value);" novalidate>
    <mat-error *ngIf="savedChanges">
      Data is saved.
      <label class="small-spacer"></label>
      <mat-icon (click)="this.addDataForm.reset();savedChanges=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!addDataForm.valid" color="primary">Add</button>
        <button type="reset" (click)="this.addDataForm.reset();" mat-raised-button [disabled]="!addDataForm.valid" color="primary">Clear</button>
        <span class="med-spacer"></span>
        <span matTooltip="Search">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Show Recent Results">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data (*)
            </mat-panel-title>
            <mat-panel-description>
              Name and Personal Information
            </mat-panel-description>
          </mat-expansion-panel-header>
    <mat-form-field>
        <input matInput placeholder="Student ID" name="code" id="code" ngModel required minlength="2">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Student Passcode" name="SKEY" id="SKEY" ngModel required minlength="2">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="First name" name="descr" id="descr" ngModel required minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Middle name" name="MIDDLE_NAME" id="MIDDLE_NAME" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" name="LAST_NAME" id="LAST_NAME" ngModel required minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Date of Birth" type="date" name="DOB" id="DOB" ngModel required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Father's name" name="FATHER_NAME" id="FATHER_NAME" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mother's name" name="MOTHER_NAME" id="MOTHER_NAME" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Legal Guardian's name" name="GUARDIAN_NAME" id="GUARDIAN_NAME" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Guardian Date of Birth" type="date" name="GDOB" id="GDOB" ngModel>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Address
        </mat-panel-title>
        <mat-panel-description>
          Contact Details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Address Type" name="ADD_TYPE_1" id="ADD_TYPE_1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 1" name="ADD_LINE_1" id="ADD_LINE_1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 2" name="ADD_LINE_2" id="ADD_LINE_2" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Pin Code" name="PIN_CODE" id="PIN_CODE" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" name="STATE" id="STATE" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country" name="COUNTRY" id="COUNTRY" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Address Type (2)" name="ADD_TYPE_2" id="ADD_TYPE_2" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 1" name="ADD_LINE_12" id="ADD_LINE_12" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 2" name="ADD_LINE_22" id="ADD_LINE_22" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Pin Code" name="PIN_CODE2" id="PIN_CODE2" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" name="STATE2" id="STATE2" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country" name="COUNTRY2" id="COUNTRY2" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Mobile 1" name="MOBILE1" id="MOBILE1" ngModel phone minlength="10">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mobile 2" name="MOBILE2" id="MOBILE2" ngModel phone minlength="10">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email 1" name="EMAIL1" id="EMAIL1" ngModel phone minlength="10">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email 2" name="EMAIL2" id="EMAIL2" ngModel phone minlength="10">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Qualifications
        </mat-panel-title>
        <mat-panel-description>
          Performance Details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Degree(s)" name="DEGREE" id="DEGREE" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Last College Attended" name="COLLEGE" id="COLLEGE" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="College Address Line 1" name="ADD_LINE_C1" id="ADD_LINE_C1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="College Address Line 2" name="ADD_LINE_C2" id="ADD_LINE_C2" ngModel>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="College Pin Code" name="PIN_CODE_C" id="PIN_CODE_C" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="College State" name="STATE_C" id="STATE_C" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="College Country" name="COUNTRY_C" id="COUNTRY_C" ngModel>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          References
        </mat-panel-title>
        <mat-panel-description>
          References Details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Reference 1" name="REFERENCE_1" id="REFERENCE_1" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Reference 1 Address" name="REFERENCE_1_ADD" id="REFERENCE_1_ADD" ngModel minlength="4">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Reference 2" name="REFERENCE_2" id="REFERENCE_2" ngModel minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Reference 2 Address" name="REFERENCE_2_ADD" id="REFERENCE_2_ADD" ngModel minlength="4">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Enrollment (*)
        </mat-panel-title>
        <mat-panel-description>
          Details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-select placeholder="Enrollment Code" name="ENROLLMENT_CODE" id="ENROLLMENT_CODE" ngModel required>
          <mat-option *ngFor="let code of enrollmentCDs$" [value]="code._id">
              {{ code.code }} - {{ code.descr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Fee Code" name="FEE_CODE" id="FEE_CODE" ngModel required>
          <mat-option *ngFor="let code of feeCDs$" [value]="code._id">
            {{ code.code }} - {{ code.descr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Marks Code" name="MARKS_CODE" id="MARKS_CODE" ngModel required>
          <mat-option *ngFor="let code of marksCDs$" [value]="code._id">
            {{ code.code }} - {{ code.descr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
    </div>
  </form>
</ng-template>
<!-- edit mode -->
<ng-template #showEditMode>
  <form #editDataForm="ngForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
    <input type="hidden" name="_id" id="_id" [ngModel]="(data$ | async)?._id" required>
    <mat-error *ngIf="savedChanges">
      Data is saved.
      <label class="small-spacer"></label>
      <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('searchMode');" svgIcon="clear"></mat-icon>
    </mat-error>
    <div *ngIf="!savedChanges">
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">Update</button>
        <span class="med-spacer"></span>
        <span matTooltip="Search">
          <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
        </span>
        <span class="small-spacer"></span>
        <span matTooltip="Shwo Recent Results">
          <mat-icon color="primary" (click)="toggle('resMode');getData();" svgIcon="cached"></mat-icon>
        </span>
      </mat-card-actions>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data (*)
            </mat-panel-title>
            <mat-panel-description>
              Name and Personal Information
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Student ID" name="code" id="code" [ngModel]="(data$ | async)?.code" required minlength="2">
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput placeholder="Student Passcode" name="SKEY" id="SKEY" [ngModel]="(data$ | async)?.SKEY" required minlength="2">
            </mat-form-field>
            <br>
          <mat-form-field>
            <input matInput placeholder="First name" name="descr" id="descr" [ngModel]="(data$ | async)?.descr" required minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Middle name" name="MIDDLE_NAME" id="MIDDLE_NAME" [ngModel]="(data$ | async)?.MIDDLE_NAME" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last name" name="LAST_NAME" id="LAST_NAME" [ngModel]="(data$ | async)?.LAST_NAME" required minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Date of Birth" type="date" name="DOB" id="DOB" [ngModel]="(data$ | async)?.DOB" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Father's name" name="FATHER_NAME" id="FATHER_NAME" [ngModel]="(data$ | async)?.FATHER_NAME" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mother's name" name="MOTHER_NAME" id="MOTHER_NAME" [ngModel]="(data$ | async)?.MOTHER_NAME" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Guardian's name" name="GUARDIAN_NAME" id="GUARDIAN_NAME" [ngModel]="(data$ | async)?.GUARDIAN_NAME" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Guardian Date of Birth" type="date" name="GDOB" id="GDOB" [ngModel]="(data$ | async)?.GDOB">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Address
            </mat-panel-title>
            <mat-panel-description>
              Contact Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Address Type" name="ADD_TYPE_1" id="ADD_TYPE_1" [ngModel]="(data$ | async)?.ADD_TYPE_1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 1" name="ADD_LINE_1" id="ADD_LINE_1" [ngModel]="(data$ | async)?.ADD_LINE_1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 2" name="ADD_LINE_2" id="ADD_LINE_2" [ngModel]="(data$ | async)?.ADD_LINE_2">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Pin Code" name="PIN_CODE" id="PIN_CODE" [ngModel]="(data$ | async)?.PIN_CODE">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" name="STATE" id="STATE" [ngModel]="(data$ | async)?.STATE">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Country" name="COUNTRY" id="COUNTRY" [ngModel]="(data$ | async)?.COUNTRY">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Address Type (2)" name="ADD_TYPE_2" id="ADD_TYPE_2" [ngModel]="(data$ | async)?.ADD_TYPE_2" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 1" name="ADD_LINE_12" id="ADD_LINE_12" [ngModel]="(data$ | async)?.ADD_LINE_12" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 2" name="ADD_LINE_22" id="ADD_LINE_22" [ngModel]="(data$ | async)?.ADD_LINE_22">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Pin Code" name="PIN_CODE2" id="PIN_CODE2" [ngModel]="(data$ | async)?.PIN_CODE2">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" name="STATE2" id="STATE2" [ngModel]="(data$ | async)?.STATE2">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Country" name="COUNTRY2" id="COUNTRY2" [ngModel]="(data$ | async)?.COUNTRY2">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Mobile 1" name="MOBILE1" id="MOBILE1" [ngModel]="(data$ | async)?.MOBILE1" phone minlength="10">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile 2" name="MOBILE2" id="MOBILE2" [ngModel]="(data$ | async)?.MOBILE2" phone minlength="10">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Email 1" name="EMAIL1" id="EMAIL1" [ngModel]="(data$ | async)?.EMAIL1" phone minlength="10">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email 2" name="EMAIL2" id="EMAIL2" [ngModel]="(data$ | async)?.EMAIL2" phone minlength="10">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Qualifications
            </mat-panel-title>
            <mat-panel-description>
              Performance Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Degree(s)" name="DEGREE" id="DEGREE" [ngModel]="(data$ | async)?.DEGREE" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Last College Attended" name="COLLEGE" id="COLLEGE" [ngModel]="(data$ | async)?.COLLEGE" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="College Address Line 1" name="ADD_LINE_C1" id="ADD_LINE_C1" [ngModel]="(data$ | async)?.ADD_LINE_C1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="College Address Line 2" name="ADD_LINE_C2" id="ADD_LINE_C2" [ngModel]="(data$ | async)?.ADD_LINE_C2">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="College Pin Code" name="PIN_CODE_C" id="PIN_CODE_C" [ngModel]="(data$ | async)?.PIN_CODE_C">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="College State" name="STATE_C" id="STATE_C" [ngModel]="(data$ | async)?.STATE_C">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="College Country" name="COUNTRY_C" id="COUNTRY_C" [ngModel]="(data$ | async)?.COUNTRY_C">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              References
            </mat-panel-title>
            <mat-panel-description>
              References Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Reference 1" name="REFERENCE_1" id="REFERENCE_1" [ngModel]="(data$ | async)?.REFERENCE_1" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Reference 1 Address" name="REFERENCE_1_ADD" id="REFERENCE_1_ADD" [ngModel]="(data$ | async)?.REFERENCE_1_ADD" minlength="4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Reference 2" name="REFERENCE_2" id="REFERENCE_2" [ngModel]="(data$ | async)?.REFERENCE_2" minlength="4">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Reference 2 Address" name="REFERENCE_2_ADD" id="REFERENCE_2_ADD" [ngModel]="(data$ | async)?.REFERENCE_2_ADD" minlength="4">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              HR (*)
            </mat-panel-title>
            <mat-panel-description>
              Compensation Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-select placeholder="Enrollment Code" name="ENROLLMENT_CODE" id="ENROLLMENT_CODE" [ngModel]="(data$ | async)?.ENROLLMENT_CODE" required>
              <mat-option *ngFor="let code of enrollmentCDs$" [value]="code._id">
                  {{ code.code }} - {{ code.descr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Fee Code" name="FEE_CODE" id="FEE_CODE" [ngModel]="(data$ | async)?.FEE_CODE" required>
              <mat-option *ngFor="let code of feeCDs$" [value]="code._id">
                  {{ code.code }} - {{ code.descr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Marks Code" name="MARKS_CODE" id="MARKS_CODE" [ngModel]="(data$ | async)?.MARKS_CODE" required>
              <mat-option *ngFor="let code of marksCDs$" [value]="code._id">
                {{ code.code }} - {{ code.descr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Documents
            </mat-panel-title>
            <mat-panel-description>
              Documents Links
            </mat-panel-description>
          </mat-expansion-panel-header>
                <div *ngFor="let file of (data$ | async)?.files">
                    <br/>
                    <button type="button" mat-raised-button (click)="showDocument=!showDocument; getDocUrl(file);" color="primary">Show Document</button>
                </div>
            <div *ngIf="showDocument">
                <span matTooltip="Close">
                    <mat-icon color="primary" (click)="showDocument = !showDocument;">clear
                    </mat-icon>
                </span>
                <br/>
                <a href="{{ docUrl | async }}" target="_blank">Click here to open {{ fileName }} document</a>
            </div>
            <br>
            <div *ngIf="showFileUpload">
                <span matTooltip="Close">
                    <mat-icon color="primary" (click)="showFileUpload = !showFileUpload;">clear
                    </mat-icon>
                </span>
                <br/>
                <app-fileupload fileUrl="STUDENT" docId="{{docId}}"></app-fileupload>
            </div>
            <br>
            <button type="button" mat-raised-button (click)="showFileUpload=!showFileUpload" color="primary">Upload File</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
</ng-template>
<!-- Results mode -->
<ng-template #showResMode>
  <mat-card-actions align="start">
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span class="med-spacer"></span>
    <span matTooltip="Add New">
      <mat-icon color="primary" (click)="toggle('addMode')" svgIcon="add"></mat-icon>
    </span>
    <span class="small-spacer"></span>
    <span matTooltip="Search All">
      <mat-icon color="primary" (click)="toggle('searchMode')" svgIcon="search"></mat-icon>
    </span>
  </mat-card-actions>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search Recent Results">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Student ID</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.descr}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> action </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span matTooltip="Edit">
            <button mat-icon-button (click)="getDoc(row._id)">
              <mat-icon color="primary" svgIcon="edit"></mat-icon>
            </button>
          </span>
          <span matTooltip="Delete">
            <button mat-icon-button (click)="deleteDoc(row._id)">
              <mat-icon color="primary" svgIcon="delete"></mat-icon>
            </button>
          </span>
          <span matTooltip="Fee">
            <button mat-icon-button routerLink="/fee/{{row._id}}">
              <mat-icon color="primary" svgIcon="salary"></mat-icon>
            </button>
          </span>
          <span matTooltip="Marks">
            <button mat-icon-button routerLink="/marks/{{row._id}}">
              <mat-icon color="primary">score</mat-icon>
            </button>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</ng-template>